/*Holds the 3D Board View*/
#renderer_parent {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

/*Holds the overlay UI elements for the 3D Board View*/
.ui_element_container {
	position: absolute;
	width: 100%;
    height: 100%;
	pointer-events: none;
}

/*Marks an overlay UI elements*/
.ui_element {
	pointer-events: auto;
}

/*Settings for top navigation bar-toolbar*/
.navigation-bar
{
	background-color: #4d88ff;
	height:55px;
	text-align:center;
	
}

/* Settings for page title */
.navigation-bar__title
{
	color:#ffffff;
	margin-top:5px;
	font-size:20px;
}

/* Navigation button */
.back-button
{
	margin-top:5px;
	color:#fff;
}

/* Set font for all onsen pages */
.page
{
	font-family:'calibri light';
	letter-spacing:3px;
}

/*Sets onsen-page background*/
.page__background
{
	background-image:url('grid-bg.png');
	background-repeat:repeat;
	background-attachment:fixed;
	position:fixed;
}

/* Styles for instruction text */
h3
{
	background:rgba(204, 224, 255, 0.9);
	color:#fff;
	text-align:center;
}

/* Basic settings for chess icon*/
#chessicon
{
	width:30%;
	height:30%;
	padding-bottom:20px;
	margin:auto;
	display:block;
}

/* Adjusting size/style of elements in containers */
#register, #login, #game-mode, .bluecontainer

{
	display:block;
	background: rgba(204, 224, 255, 0.9);
	border: none;
	border-radius:20px;
	width:25%;
}

/* Full-width input fields */
input[type=text], input[type=password] 
{
	display:block;
	margin-bottom: 20px;
	width:100%;
	height:30px;
	text-align:center;
	border: 3px solid #ccc;
	-webkit-transition: 0.5s;
}

/* Change textbox border color on focus */
input[type=text]:focus, input[type=password]:focus
{
    border: 3px solid #555;
}

/* Put placeholders in middle */
::-webkit-input-placeholder {
   color: #808080;
   text-align: center;

}

/* Set a style for all buttons */
.button {
	border: 3px solid #6495ED;
    background-color: #ffffff;
    color: #6495ED;
	margin: 8px 0;
    cursor: pointer;
    width: 100%;
	display:block;
	-webkit-transition:0.4s;
	transition-duration:0.4s;
	font-family:'calibri light';
	letter-spacing:3px;
	padding:1px;
	text-align:center;
}

.button:hover{
	background-color:#6495ED;
	color: #ffffff;
}

/* Red for cancel button to make it stand out */
#cancel-btn {
    background-color: #ff0000;
	color:#ffffff;
	border: 3px solid #ff0000;
	-webkit-transition:0.4s;
	transition-duration:0.4s;
	
}

#cancel-btn:hover
{
	background-color:#ffffff;
	color: #ff0000;
}

/* Set style for some div*/
#result-win-head{
	background-color:#ffffff;
}

#user-id{
	font-size:20px;
	background-color: #ffffff;
	width: 150px;
}
#user-id,#user-rate,#result-head,#result-win-head,#score-div,#user-score {
	color:#6495ED;
}

/* Add padding to container elements */
.container {

  width:30%;
  padding: 20px 35px;
  display: block;
  margin-top:50px;
  position:relative;
	
}

/* Clear floats */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/* Button style in Create Game Page */
th .button {
    width: 55px;
}

#pgn-string {
    -moz-user-select: text;
    -khtml-user-select: text;
    -webkit-user-select: text;
    -ms-user-select: text;
    user-select: text;
}

/*  */
.usericon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.blackplayer {
    background-color: #000000;
}

.whiteplayer {
    background-color: #ffffff;
}

.selectingplayer {
    border: 5px solid limegreen;
}

.white_ui {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 5%;
}

#white-icon, #white-name {
    float: left;
    margin: 15px;
}

.black_ui {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 5%;
}

#black-icon, #black-name {
    float: right;
    margin: 15px;
}

@media screen and (max-width: 599px) {
    .black_ui {
        left: 10px;
        bottom: 10px;
    }
    .white_ui {
        left: 10px;
        top: 10px;
    }
}

@media screen and (min-width: 600px) {
    .black_ui {
        right: 10px;
        bottom: 10px;
    }
    .white_ui {
        left: 10px;
        bottom: 10px;
    }
}

@media screen and (min-width: 220px) and (max-width: 480px) {
    .container {
        width:200px;
        padding:5px;
        display:block;
        height:50px;
        
    }
    
    #register, #login {
        width:200px;
        padding:10px;
       
    }
    
    #chessicon {
        width:120px;
        height:120px;
        margin-left:3px;
        margin-right:5px;
        position:center;
    }
    
    .button {
        width:150px;
        height:45px;
        float:center;
    }
    
    input[type=text], input[type=password] {
        width:80%;
    }
}